<%= render 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
<%= Spree.t(:settings, scope: :print_invoice) %>
<% end %>

<%= form_tag(admin_print_invoice_settings_path, method: :put) do %>
<fieldset class="no-border-top">
  <div data-hook="admin_print_invoice_method_form_fields">
    <div class="row">
      <div class="alpha six columns" data-hook="pdf">
        <fieldset class="no-border-bottom">
          <legend align="center"><%= Spree.t(:pdf_legend, scope: :print_invoice) %></legend>

          <div class="field">
            <%= preference_field_tag(:use_footer, Spree::PrintInvoice::Config[:use_footer], type: :boolean) %>
            <%= label_tag :use_footer, Spree.t(:use_footer, scope: [:print_invoice, :preferences]) %>
          </div>

          <div class="field">
            <%= preference_field_tag(:use_page_numbers, Spree::PrintInvoice::Config[:use_page_numbers], type: :boolean) %>
            <%= label_tag :use_page_numbers, Spree.t(:use_page_numbers, scope: [:print_invoice, :preferences]) %>
          </div>

          <div class="field">
            <%= label_tag :logo_path, Spree.t(:logo_path, scope: [:print_invoice, :preferences]) %><br>
            <%= preference_field_tag(:logo_path, Spree::PrintInvoice::Config[:logo_path], class: 'fullwidth') %>
          </div>

          <div class="field">
            <%= label_tag :print_buttons, Spree.t(:print_buttons, scope: [:print_invoice, :preferences]) %><br>
            <%= preference_field_tag(:print_buttons, Spree::PrintInvoice::Config[:print_buttons], class: 'fullwidth') %>
            <span class="info"><%= Spree.t(:print_buttons_info, scope: [:print_invoice, :preferences]) %></span>
          </div>

          <div class="field">
            <%= label_tag :next_number, Spree.t(:next_number, scope: [:print_invoice, :preferences]) %><br>
            <%= number_field_tag(:next_number, Spree::PrintInvoice::Config[:next_number], class: 'fullwidth') %>
          </div>

          <div class="field">
            <%= label_tag :page_size, Spree.t(:page_size, scope: [:print_invoice, :preferences]) %><br>
            <%= select_tag(:page_size, options_for_select(Spree::PrintInvoice::Config.page_sizes, Spree::PrintInvoice::Config[:page_size]), class: 'fullwidth select2') %>
          </div>

          <div class="field">
            <%= label_tag :page_layout, Spree.t(:page_layout, scope: [:print_invoice, :preferences]) %><br>
            <%= select_tag(:page_layout, options_for_select(Spree::PrintInvoice::Config.page_layouts, Spree::PrintInvoice::Config[:page_layout]), class: 'fullwidth select2') %>
          </div>

          <div class="field">
            <%= label_tag :font_face, Spree.t(:font_face, scope: [:print_invoice, :preferences]) %><br>
            <%= select_tag(:font_face, options_for_select(Spree::PrintInvoice::Config.font_faces, Spree::PrintInvoice::Config[:font_face]), class: 'fullwidth select2') %>
          </div>

          <div class="field">
            <%= label_tag :font_scale, Spree.t(:font_scale, scope: [:print_invoice, :preferences]) %><br>
            <%= number_field_tag(:font_scale, Spree::PrintInvoice::Config[:font_scale], in: 1...100) %>
          </div>

          <div class="field">
            <%= label_tag :logo_scale, Spree.t(:logo_scale, scope: [:print_invoice, :preferences]) %><br>
            <%= number_field_tag(:logo_scale, Spree::PrintInvoice::Config[:logo_scale], in: 1...100) %>
          </div>

        </fieldset>
      </div>

      <div class="six columns omega" data-hook="invoice">
        <fieldset class="no-border-bottom">
          <legend align="center"><%= Spree.t(:invoice_slip_legend, scope: :print_invoice) %></legend>

          <div class="field">
            <%= label_tag :footer_left, Spree.t(:footer_left, scope: [:print_invoice, :preferences]) %><br>
            <%= text_area_tag(:footer_left, Spree::PrintInvoice::Config[:footer_left], class: 'fullwidth') %>
            <span class="info"><%= Spree.t(:footer_left_info, scope: [:print_invoice, :preferences]) %></span>
          </div>

          <div class="field">
            <%= label_tag :footer_right, Spree.t(:footer_right, scope: [:print_invoice, :preferences]) %><br>
            <%= text_area_tag(:footer_right, Spree::PrintInvoice::Config[:footer_right], class: 'fullwidth') %>
            <span class="info"><%= Spree.t(:footer_right_info, scope: [:print_invoice, :preferences]) %></span>
          </div>

          <div class="field">
            <%= label_tag :return_message, Spree.t(:return_message, scope: [:print_invoice, :preferences]) %><br>
            <%= text_area_tag(:return_message, Spree::PrintInvoice::Config[:return_message], class: 'fullwidth') %>
          </div>

          <div class="field">
            <%= label_tag :anomaly_message, Spree.t(:anomaly_message, scope: [:print_invoice, :preferences]) %><br>
            <%= text_area_tag(:anomaly_message, Spree::PrintInvoice::Config[:anomaly_message], class: 'fullwidth') %>
          </div>

        </fieldset>
      </div>
    </div>

    <div class="form-buttons filter-actions actions" data-hook="buttons">
      <%= button Spree.t('actions.update'), 'icon-refresh' %>
    </div>

  </div>
</fieldset>
<% end %>
