<% if @order and @order.completed_at? %>
  <% buttons = Spree::PrintInvoice::Config[:print_buttons]
     buttons = buttons.split(",").collect{|b| b.strip } %>
  <%  buttons.each do |button| %>
    <li>
		<%= form_tag( spree.admin_order_path(@order, :pdf , :template => button), method: "get") do %>
		  <span>
		  <%= label_tag(:q, 'Free Ship:' ) %>	  
		  <%= check_box("free_shipping", "validated") %>
	      </span>
	      <%= select("ship", "id", @order.shipments.collect {|ship| [ ship.number, ship.id ] } ) %>
		  <%= submit_tag(Spree.t(button.to_s + "_print")) %>
	    <% end %>
	</li>
  <% end %>
<% end %>  
